/*@settings

name: Background Image Settings | 背景图片设置
id: background-image-settings
settings:
    - 
        id: light-background-image
        title: Light Theme Background Image URL
        title.zh: 浅色主题背景图片 URL
        type: variable-text
        default: url(https://w.wallhaven.cc/full/28/wallhaven-281d5y.png)

    - 
        id: dark-background-image
        title: Dark Theme Background Image URL
        title.zh: 深色主题背景图片 URL
        type: variable-text
        default: url(https://w.wallhaven.cc/full/28/wallhaven-281d5y.png)
    - 
        id: background-opacity
        title: Background Image Opacity
        title.zh: 背景图片不透明度
        type: variable-number-slider
        default: 0.2
        min: 0
        max: 1
        step: 0.01
        format: 

    - 
        id: background-image-blur
        title: Blur Amount
        title.zh: 模糊程度
        type: variable-number-slider
        default: 0
        min: 0
        max: 20
        step: 0.1
        format: px

    - 
        id: background-image-contrast
        title: Contrast
        title.zh: 对比度
        type: variable-number-slider
        default: 1
        min: 0
        max: 3
        step: 0.1
        format:

    - 
        id: background-image-saturate
        title: Saturate
        title.zh: 饱和度
        type: variable-number-slider
        default: 1
        min: 0
        max: 3
        step: 0.1
        format:

    - 
        id: background-image-brightness
        title: Brightness
        title.zh: 亮度
        type: variable-number-slider
        default: 1
        min: 0
        max: 3
        step: 0.1
        format:

*/
body {
  /* https://w.wallhaven.cc/full/gw/wallhaven-9oozpx.jpg 
  gww9yl*/

  --light-background-image: url(https://w.wallhaven.cc/full/pk/wallhaven-pkw6y3.jpg);
  --dark-background-image: url(https://w.wallhaven.cc/full/6d/wallhaven-6dr366.jpg);
  --background-opacity: 0.2;
  --background-image-blur: 0;
  --background-image-contrast: 1;
  --background-image-saturate: 1;
  --background-image-brightness: 1;
}

/* CSS Styling to apply these settings */
.theme-light {
  --background-image: var(--light-background-image);
}

.theme-dark {
  --background-image: var(--dark-background-image);
}

body::before {
  content: "";
  position: fixed;
  background-image: var(--background-image);
  background-position:  center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  filter: blur(var(--background-image-blur)) contrast(var(--background-image-contrast)) saturate(var(--background-image-saturate)) brightness(var(--background-image-brightness));
  opacity: var(--background-opacity);
  z-index: var(--layer-menu);
  pointer-events: none;
  transition: none;
}